@font-face {
    font-family: 'Geomanist';
    src: url('../public/fonts/geomanist-light-webfont.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Geomanist';
    src: url('../public/fonts/geomanist-light-italic-webfont.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Geomanist';
    src: url('../public/fonts/geomanist-regular-webfont.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Geomanist';
    src: url('../public/fonts/geomanist-regular-italic-webfont.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Geomanist';
    src: url('../public/fonts/geomanist-medium-webfont.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Geomanist';
    src: url('../public/fonts/geomanist-medium-italic-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Geomanist';
    src: url('../public/fonts/geomanist-medium-webfont.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Geomanist';
    src: url('../public/fonts/geomanist-medium-italic-webfont.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Geomanist';
    src: url('../public/fonts/geomanist-bold-webfont.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Geomanist';
    src: url('../public/fonts/geomanist-bold-italic-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}
