// globals.scss
@use "tailwindcss" as *;
@import 'geomanist';

/* Reset/Normalize CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    font-family: 'Geomanist', sans-serif;
    line-height: 1.5;
    background-color: #fecba5; // Default background color
    color: #333; // Default text color
}

/* Body Styling */
body {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

/* Utility classes */
.container {
    width: 100%;
    max-width: 1200px; // Adjust as needed
    margin: 0 auto;
    padding: 0 1rem;
}
/* Add more global styles here as needed */
